*{ padding:0; margin:0;font-size: 14px;}
ul li{list-style-type: none;}
.head{position: absolute;font-size: 30px;color:black;}
.box{ position: absolute;top:0;left:0;height:100%;width:100%;}
.box .left{width:65%;height:100%;left:0;position: absolute;background-color:#f8d41f;}
.box .right{width:35%;height:100%;right:0;position: absolute;background-color: #f4ecc5;}
.box .right,.left {transition: background-color 2s ;}
.svg{padding:2px 0;width:20px;position: absolute;right:15px;top:calc(50% - 68px);}
.svg ul li{padding:10px 0;}
.svg .fgx{border-bottom:7px solid rgba(0,0,0,0.2);width:20px;}
.svg .fgx:nth-child(1){border-bottom:7px solid white;}
.imager{margin-left:-50%;width:100%;bottom:10px;position: absolute;opacity: 1;transition:margin-left 3s;}
img{width:100%;}
.txt{color:white;margin-left: 80px;opacity: 1;overflow: hidden;}
.txt{transition: color 2s;}
.txt P:nth-child(1){font-size: 12px;letter-spacing: 0.5rem;margin-bottom: 40px;}
.txt P:nth-child(2){font-family: 'Poppins', sans-serif;font-size: 7.5em;font-weight: 700;line-height: 110px;}
.txt P:nth-child(3){font-size:13px;color: rgba(255, 255, 255, 0.8);line-height: 22px;margin-top: 25px;width:70%;opacity: 0.6;}
